.gallery {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 20px;
}

.gallery-item {
  width: 350px;
  height: 200px;
}

.gallery-img {
  display: block;
  height: 100%;
  object-fit: cover;
}

/* Task 6 */
#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
